#  Step 1 : Importing the libraries

In [1]:
# For optimised mathematical Calculations
import numpy as np

In [2]:
# For data manipulations
import pandas as pd

# Step 2 : Importing the Datasets

In [3]:
# Reading a csv file with no header
data = pd.read_csv('Data.csv')

In [4]:
# To view first 5 rows of the data do .head() function over dataframe
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
# Splitting for features
# all rows and all columns except last one
X = data.iloc[:,:-1].values

# Splitting for Labels
# all rows and Only last column
Y = data.iloc[:,-1].values

# .values is used for converting dataframe into numpy array

# Step-3 : Handling the missing Data

In [6]:
# Import imputer function 
from sklearn.preprocessing import Imputer

In [7]:
# Create a Imputer object with some parameters,
# Doing mean imputations
# Checking for NaN values
imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)

In [8]:
# fit the data with imputer object for calculating the mean
# Only fitting second and third feature columns because first column is categorical
imputer = imputer.fit(X[ : , 1:3])

In [9]:
# Transform the feature columns(only second and third) with the fitted object of imputer
X[ : , 1:3] = imputer.transform(X[ : , 1:3])

# Step 3: Encoding the Categorical  Data

In [10]:
# Import labelEncoder function to encode the cateorical data 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [11]:
# Initializing a LabelEncoder class object
labelencoder_X = LabelEncoder()

In [12]:
# Inplace fit and Transform of categorical first column (categorical values)
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])

## Creating Dummy Variables

In [13]:
#  Initializing a OneHotEncoder class object
# Specify the index of X to be selected as a categorical feature using categorical_features = [0]
onehotencoder = OneHotEncoder(categorical_features = [0])

In [14]:
# Inplace Fit and transform the first feature column to create a dummy columns
X = onehotencoder.fit_transform(X).toarray()

In [15]:
# Initializing a LabelEncoder class object for encoding Labels with two number 0/1
labelencoder_Y = LabelEncoder()

In [16]:
# Inplace fit and transform the label
# Encoded labels with 0 and 1
Y = labelencoder_Y.fit_transform(Y)

# Step 5: Splitting the datasets into training sets and Test sets

In [17]:
# Function to be used for splitting is train_test_split
from sklearn.model_selection import train_test_split

In [18]:
# Calling the train_test_split function with X and Y
# train and test sets split ratio : 0.2
# random state/seed for shuffling the whole data : 42
X_train,X_test,Y_train,Y_test = train_test_split(X , Y , test_size=0.2, random_state=42)

# Step 6: Feature Scaling

In [19]:
# Import StandardScaler class which is used to sclae the features
from sklearn.preprocessing import StandardScaler

In [20]:
# Initializing a OneHotEncoder class object
scaler = StandardScaler()

In [21]:
# Fit the scaler object to train data to create a scale 
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [22]:
# Use the created scaler object to scale the X_train data by transform
X_train = scaler.transform(X_train)

In [23]:
# Use the same scaler object to scale the X_test data
X_test = scaler.transform(X_test)