#  SVM with Life-Expectancy-Dataset

## Import Libraries

In [1]:
import pandas as pd

## Reading the dataset

In [2]:
# Importing the data set in python by using the pd.read_csv() function.
dataset = pd.read_csv("LifeExpectancy_data.csv")

## Exploratory Data Analysis (EDA)

In [3]:
# To see the datset columns and first few values
dataset.head()

   Rank       Country  Overall Life  Male Life  Female Life Continent
0     1        Monaco          89.5       85.6         93.5    Europe
1     2         Japan          85.0       81.7         88.5      Asia
2     3     Singapore          85.0       82.3         87.8      Asia
3     4  Macau; China          84.5       81.6         87.6      Asia
4     5    San Marino          83.3       80.7         86.1    Europe

In [4]:
# To display the feature names, number of values, datatype and null values in each column
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 6 columns):
Rank            223 non-null int64
Country         223 non-null object
Overall Life    223 non-null float64
Male Life       223 non-null float64
Female Life     223 non-null float64
Continent       223 non-null object
dtypes: float64(3), int64(1), object(2)
memory usage: 10.5+ KB

In [5]:
# To see the statistical description of all the numerical columns in the data
dataset.describe()

             Rank  Overall Life   Male Life  Female Life
count  223.000000    223.000000  223.000000   223.000000
mean   112.000000     72.487892   70.041704    75.019283
std     64.518731      8.459335    8.074942     8.986633
min      1.000000     50.200000   48.600000    51.000000
25%     56.500000     67.450000   64.500000    69.750000
50%    112.000000     74.900000   72.200000    77.900000
75%    167.500000     78.600000   75.850000    81.600000
max    223.000000     89.500000   85.600000    93.500000

## Data Preprocessing

In [6]:
# Assigning Feature columns and label columns
X = dataset.iloc[:,0:-1]
Y = dataset.iloc[:,-1]

In [7]:
# Labelling the data of continent with LabelEncoder
# Categorical column 'Continent' and 'Country' needs to be encoded
from sklearn.preprocessing import LabelEncoder

In [8]:
# create a LabelEncoder class object
encoder = LabelEncoder()

In [9]:
# Fit the label column to encode the data
Y  = encoder.fit_transform(Y)

In [10]:
# Fit the training features to encode the 'Country' column/feature
X.iloc[:,1:2] = encoder.fit_transform(X.iloc[:,1:2])

C:\Users\deepak.kushwaha1\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
# Remove features or columns from dataset that is not relevant such as Rank of the country
X = X.drop(['Rank'], axis=1)

In [12]:
# Split the dataset in for training and testing with train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 5, test_size=0.2)

## SVM Classifier

In [13]:
# Import the svm classifier from sklearn
from sklearn import svm

In [14]:
# create an object of SVM classifier
svm_classifier = svm.SVC()

In [15]:
# Fit training data with SVm classifier
svm_classifier.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## Calculate the accuracy for train and test

In [16]:
# Import metrics accuracy_score for calculationg the number of correct predictions
from sklearn.metrics import accuracy_score

In [17]:
# To test the accuracy of training, find the predictions over training features
train_predictions = svm_classifier.predict(X_train)

In [18]:
# use accuracy_score function to check the training accuracy
accuracy_score(Y_train,train_predictions)

0.9943820224719101

In [19]:
# To test the accuracy over test_data, find the predictions over test features
test_predictions = svm_classifier.predict(X_test)

In [20]:
# use accuracy_score function to check the test accuracy
accuracy_score(Y_test,test_predictions)

0.3111111111111111